.comment__content {
  li {
    padding: 10px 20px;
    background-color: $headertext;
    margin-bottom: 10px;
    border-radius: 25px;
    div:last-child {
      margin-top: 20px;
      text-align: end;
    }
  }
}
