doctype html
html(lang="ko")
    head
        title #{pageTitle} | manaemee
        link(rel="stylesheet" href="http://unpkg.com/mvp.css")
    body
        main
            include partials/header
            block content
    include partials/footer.pug