extends base
block routes
    div.main__content
        div.content
            h1=pageTitle
            if errorMessage 
                span.error__message=errorMessage
            form(method="POST")
                input(name="oldpassword", placeholder="Old password", type="password", required, minlength="5")
                input(name="newpassword", placeholder="New password", type="password", required, minlength="5")
                input(name="confirmpassword", placeholder="Confirm password", type="password", required, minlength="5")
                input(type="submit", value="Change")