doctype html 
html(lang="ko")
    head 
        title manaemeetube
        link(rel="stylesheet" href="http://unpkg.com/mvp.css")
    body
        include partials/header
        main
            include partials/side
            include partials/content
    include partials/footer.pug
    script(src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous")