extends base
block routes
    div.main__content
        div.content
            if messages.error
                div.message
                    span=messages.error
            h1=pageTitle
            if errorMessage
                span.error__message=errorMessage
            form(method="POST")
                label(for="username").username username
                input(name="username", id="username",type="text", required, maxlength="10")
                label(for="password").password password
                input(name="password",  type="password", required, minlength="5")
                input(type="submit", value="login")
                hr
            div.social__login
                a(href="/users/kakao/start") Continue with KaKao &rarr;
                span |
                a(href="/users/github/start") Continue with Github &rarr;
            hr
            div.join__content
                a(href="/join") 
                    span Create Account