header
    nav
        ul 
            li 
                a(href="/") your story
            li  
                if error 
                    span=error
                form(method="GET")
                    input(placeholder="Please enter the Title", required, type="text", maxlength="10" name="keyword")
                    button
                        i.fas.fa-search