header
    nav
        ul
            li.header__column
                a(href="/").header__column__logo
                    i.fas.fa-crown
                    span your story
            li.header__column
                if error 
                    span=error
                form(method="GET")
                    input(placeholder="Search", required, type="text", maxlength="10" name="keyword")
                    button
                        i.fas.fa-search
            if !loggedIn
                li.header__column
                    a(href="/login") login
            else       
                li.header__column
                    a(href="/users/logout") logout