div.side_content
    nav
        ul
            if loggedIn
                if loggedInUser.avatar !== ""
                    li
                        img(src=loggedInUser.avatar).side__img
                else 
                    li 
                        span 😄        
                li 
                    a(href=`/users/${loggedInUser._id}`) 
                        span Profile
                li 
                    a(href=`/users/${loggedInUser._id}/comment`) 
                        span Comment
                li
                    a(href="/videos/upload") 
                        span upload