div.side_content
    nav
        ul
            if loggedIn
                if loggedInUser.avatar !== ""
                    li
                        img(src=loggedInUser.avatar).side__img
                else 
                    li 
                        span 😄        
                li 
                    a(href=`/users/${loggedInUser._id}`) 
                        span Profile
                li 
                    a(href=`/users/${loggedInUser._id}/comment`) 
                        span Comment
                li
                    a(href="/videos/upload") 
                        span upload
            else
                li
                    span  On the web, viewers can watch and discover millions of personalized short videos. 
                li#weather
                    span.city
                    span.description       
    div#quote
        span.name 
        span.quote