div
    if !loggedIn
        h3
            a(href="/login") login
    else
        h3 
            a(href="/users/edit") #{loggedInUser.name}의 Profile
        h3
            a(href="/videos/upload") upload
        h3
            a(href="/users/logout") logout